<section class="movies">
  <div class="container">
    <h3 class="movies__title">best rating movies</h3>
    <div class="movies__block">
      <div class="movie">
        <div class="movie__block">
          <p class="movie__title subtitle">The Dark Knight</p>
          <div class="movie__info info">
            <div class="info__rating"><i class="fa fa-star"></i> 9.5</div>
            <div class="info__duration"><i class="fa fa-clock-o"></i> 120 min</div>
            <div class="info__hd">HD</div>
            <div class="info__age">16+</div>
          </div>
        </div>
      </div>
      <div class="movie">
        <div class="movie__block">
          <p class="movie__title subtitle">The Dark Knight</p>
          <div class="movie__info info">
            <div class="info__rating"><i class="fa fa-star"></i> 9.5</div>
            <div class="info__duration"><i class="fa fa-clock-o"></i> 120 min</div>
            <div class="info__hd">HD</div>
            <div class="info__age">16+</div>
          </div>
        </div>
      </div>
      <div class="movie">
        <div class="movie__block">
          <p class="movie__title subtitle">The Dark Knight</p>
          <div class="movie__info info">
            <div class="info__rating"><i class="fa fa-star"></i> 9.5</div>
            <div class="info__duration"><i class="fa fa-clock-o"></i> 120 min</div>
            <div class="info__hd">HD</div>
            <div class="info__age">16+</div>
          </div>
        </div>
      </div>
      <div class="movie">
        <div class="movie__block">
          <p class="movie__title subtitle">The Dark Knight</p>
          <div class="movie__info info">
            <div class="info__rating"><i class="fa fa-star"></i> 9.5</div>
            <div class="info__duration"><i class="fa fa-clock-o"></i> 120 min</div>
            <div class="info__hd">HD</div>
            <div class="info__age">16+</div>
          </div>
        </div>
      </div>
      <div class="movie">
        <div class="movie__block">
          <p class="movie__title subtitle">The Dark Knight</p>
          <div class="movie__info info">
            <div class="info__rating"><i class="fa fa-star"></i> 9.5</div>
            <div class="info__duration"><i class="fa fa-clock-o"></i> 120 min</div>
            <div class="info__hd">HD</div>
            <div class="info__age">16+</div>
          </div>
        </div>
      </div>
      <div class="movie">
        <div class="movie__block">
          <p class="movie__title subtitle">The Dark Knight</p>
          <div class="movie__info info">
            <div class="info__rating"><i class="fa fa-star"></i> 9.5</div>
            <div class="info__duration"><i class="fa fa-clock-o"></i> 120 min</div>
            <div class="info__hd">HD</div>
            <div class="info__age">16+</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
