<section class="movies">
    <div class="container">
        <h3 class="movies__title">best rating movies</h3>
        <div class="movies__block">
            <div class="movie" *ngFor="let movie of topMoviesByRating">
                <div class="movie__block">
                    <p class="movie__title subtitle">{{ movie.title }}</p>
                    <div class="movie__image">
                        <img [src]="movie.posterurl" />
                    </div>
                    <div class="movie__info info">
                        <div class="info__rating">
                            <i class="fa fa-star"></i>{{ movie.imdbRating }}
                        </div>
                        <div class="info__duration">
                            <i class="fa fa-clock-o"></i>{{ movie.duration }}
                        </div>
                        <div class="info__hd">{{ movie.releaseDate }}</div>
                        <div class="info__age">{{ movie.genres.toString() }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>