<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__info">
        <div class="footer__logo logo"><i class="fa fa-film"></i>Fl<span>i</span>x</div>
        <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id
          nobis beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto et. Dolores,
          quibusdam?</p>
        <div class="footer__social social">
          <a href="#" class="social__item"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social__item"><i class="fa fa-twitter"></i></a>
          <a href="#" class="social__item"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer__nav">
        <ul class="footer__list">
          <li>
            <p class="footer__title">Flix</p>
          </li>
          <li><a href="" class="footer__link">About us</a></li>
          <li><a href="" class="footer__link">My profile</a></li>
          <li><a href="" class="footer__link">Pricing plans</a></li>
          <li><a href="" class="footer__link">Contacts</a></li>
        </ul>
        <ul class="footer__list">
          <li>
            <p class="footer__title">Browse</p>
          </li>
          <li><a href="" class="footer__link">About us</a></li>
          <li><a href="" class="footer__link">My profile</a></li>
          <li><a href="" class="footer__link">Pricing plans</a></li>
          <li><a href="" class="footer__link">Contacts</a></li>
        </ul>
        <ul class="footer__list">
          <li>
            <p class="footer__title">Help</p>
          </li>
          <li><a href="" class="footer__link">About us</a></li>
          <li><a href="" class="footer__link">My profile</a></li>
          <li><a href="" class="footer__link">Pricing plans</a></li>
          <li><a href="" class="footer__link">Contacts</a></li>
        </ul>
        <ul class="footer__list">
          <li>
            <p class="footer__title">Download app</p>
          </li>
          <li><a href="" class="footer__btn"><img src="assets/images/google-play.png" alt="google"></a></li>
          <li><a href="" class="footer__btn"><img src="assets/images/app-store.png" alt="app"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">Copyright 2021 Tuat Tran Anh</div>
</footer>
